{% extends "base.html" %}
{% load comments %}

{% block meta %}
    <meta name="description" content="SC2 GeoMap">
{% endblock %}

{% block title %}SC2 GeoMap{% endblock %}

{% block tababout %}<li><a class="active"><span>About</span></a></li>{% endblock %}

{% block content %}
    <div class="title span-14">
        <h2>About SC2 GeoMap</h2>
        <br />
    </div>

    <div class="span-24 last">
        <p><b>SC2 GeoMap is the simple way of finding StarCraft 2 players all over the world.</b> We provide a map where players voluntarily disclose their geographical location.</p>
        <p><b>Why?</b><br />Living in Mexico, it was very difficult for me to find SC2 players to have LAN parties with. I started a Mexican StarCraft 2 community website at <a href=http://www.sc2mx.com/>sc2mx.com</a> but I still had troubles finding SC2 players. I noticed that many players across the various community websites organized LAN parties but there was no organized directory of SC2 players worldwide. I decided to fix that. Furthermore, SC2 GeoMaps wants to provide a visual representation of SC2 Players so that businesses, advertisers, and others who otherwise support eSports can better target their markets.</p>
        <p><b>Who?</b><br />This site was created by me, Rommel Rico, a Computer Science student at the University of San Diego. I can be reached at rico.r-10_AT_sandiego.edu. The site, however, belongs to the community. I am simply the admin. Also, this site was based on the work of Kegan from <a href=http://www.malaysiacrime.com/>MalaysiaCrime.com</a>, so don't give me too much credit.</p>
        <p><b>How?</b><br />Users are responsible for adding or updating new player locations on the map. The administrator is in charge of maintenance and the like.</p>
        <p><b>Objectives:</b><br />My objectives are too provide a fun and safe interface for SC2 players to meet other players and to help promote eSports all over the world by giving a visual representation to possible sponsors.</p>
    </div>

{% endblock %}
